<div class="container margin-top">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <h3>About Us</h3>

            <small><p>Vikas satre is director and interior designer of Premium Interiors. hi is very focus personality on his work .hi completed his education of ATI {central government of India skill training  center (only 6 centers in all over of India )}.hi completed his field education from Mumbai Port Trust (ship building and maintenance) 2 years of course . After that hi work in one private company as site supervisor post. Then hi start his own workshop in June 2001 with name Premium Furniture. In 2007 Premium furniture wants an expansion of his work with other work in home interior. But Mr. vikas satre never believe in over confidence, so he go to a interior design education center. Design arch Nerul and completed his course of space management, light and color, AutoCAD with 2d and 3d.  He completed his site experience with oriental decorator company (as site supervisor). One multiplex in kalyan and HPPL company office renovation .both are more than 50000 sq.ft site after this experience he started A Premium Interiors in March 2009 Premium Interiors completed numbers of site of home, shop and offices. Every time he gave them a nice renovation experience      
Location map 
Contect no 
Email  
Facebook page 

                </p></small>
            <small><a class="green" href="#">read more</a></small>
        </div>
    </div>
</div>