<div class="container margin-top">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <h3>About Us</h3>

        <small><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat.</p></small>
        <small><p>Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </p></small>
        <small><a class="green" href="#">read more</a></small>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <h3>Clients</h3>
        <small><p><i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat
                    at vero eros et accumsan et iusto odio dignissim qui.</i></p></small>
        <small><p><i>by a famous writer</i></p></small>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <h3>Projects</h3>
        <ul>
            <li><small>Lorem ipsum dolor sit amet</small></li>
            <li><small>Lorem ipsum dolor sit amet</small></li>
            <li><small>Lorem ipsum dolor sit amet</small></li>
            <li><small>Lorem ipsum dolor sit amet</small></li>
            <li><small>Lorem ipsum dolor sit amet</small></li>
            <li><small>Lorem ipsum dolor sit amet</small></li>
            <li id="project"><small>Lorem ipsum dolor sit amet</small></li>

        </ul>
    </div>
</div>