<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <% for(var i=0; i < data.length; i++) { %>
    <%=data[i].name%><hr>
    <%=data[i].address%><hr>
    <%=data[i].feedback%><hr><hr><hr><hr>
    <% } %>


</body>
</html>