<div class="container margin-top">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <h3>Clients</h3>
            <ul>
                <li><small>Lorem ipsum dolor sit amet</small></li>
                <li><small>Lorem ipsum dolor sit amet</small></li>
                <li><small>Lorem ipsum dolor sit amet</small></li>
                <li><small>Lorem ipsum dolor sit amet</small></li>
                <li><small>Lorem ipsum dolor sit amet</small></li>
                <li><small>Lorem ipsum dolor sit amet</small></li>
                <li id="project"><small>Lorem ipsum dolor sit amet</small></li>

            </ul>
        </div>
    </div>
</div>