<div class='container_contact'>
    <header>
        <h1 class="form_heading">CONTACT US</h1>
    </header>
    <form id="forms" method="POST" action="/">
        <div class='name'>
            <input class='first' placeholder='First Name' type='text' name="fname">
            <input class='last' placeholder='Last Name' type='text' name="lname">
        </div>
        <div class='contact'>
            <input class='email' placeholder='E-mail Address' type='text' name="email">
        </div>
        <div class='contact'>
            <input class='phn' placeholder='Phone Number' type='text' name="phn">
        </div>
        <div class='message'>
            <textarea placeholder='Your Requirements Here!' name="msg"></textarea>
        </div>
        <footer>
            <button type="Submit">Submit</button>
        </footer>
    </form>
</div>