  
<div class="row">
    <div class="container-fluid background-black padding-10 footer_items">

            <small><a class="padding" href="/">Home</a>|</small>
            <small><a class="padding" href="#about">About</a>|</small>
            <small><a class="padding" href="/Gallery">Gallery</a>|</small>
            <small><a class="padding" href="#Projects">Projects</a>|</small>
            <small><a class="padding" href="#contact">Contact</a></small>
            <small class="social_media centered">
                <a href="#"><i class="fa fa-twitter lightgreen padding fontsize"></i></a>
                <a href="#"><i class="fa fa-facebook lightgreen padding fontsize"></i></a>
            </small>
            <small><p class="pull-right">Copyright Premium Interiors @ 2016<a class="lightblack" href="#"></a></p></small>

    </div>
</div>