<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Premium Interiors</title>

    <!-- Bootstrap -->

    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/custom.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/slider.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/slider2.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/contact.css"/>
<<<<<<< HEAD
=======
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
>>>>>>> refs/remotes/origin/anuj

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->
</head>