<!---header-->
<% include header.ejs %>

<body>
<div id="topmost" class="container-fluid header_mobile">
    
<!---include navbar-->
<% include navbar.ejs %> 

<!---include carousel-->    
<% include carousel.ejs %>

<!---include offers-->
<% include offers.ejs %>

<!---include about/clients/projects (acp)-->  
<% include acp.ejs %>

<!---include projects-->
<% include projects.ejs %>   

<!---include contact-->  
<% include contact.ejs %>

<!---include social_media-->  
<% include social_media.ejs %>   

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="javascripts/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/html5shiv.min.js"></script>
<script src="javascripts/respond.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script src="javascripts/menu.js"></script>


</body>
</html>