<div class="container">
    <h3 class="padding-x">We Offer...</h3>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img_dim" src="images/img1.jpg" width="95%" />
        <h4>CARPENTARY</h4>
        <small><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p></small>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img_dim" src="images/POP.jpg" width="95%"/>
        <h4>POP</h4>
        <small><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p></small>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img_dim" src="images/painting.jpg" width="95%"/>
        <h4>PAINTING</h4>
        <small><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p></small>
    </div>

</div>

    <div class="spacing"> </div>

<div class="container">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img_dim" src="images/img1.jpg" width="95%" />
        <h4>ELECTRICAL WORK</h4>
        <small><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p></small>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img_dim" src="images/img2.jpg" width="95%"/>
        <h4>PLUMBING</h4>
        <small><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p></small>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img class="img_dim" src="images/img3.jpg" width="95%"/>
        <h4>CIVIL</h4>
        <small><p id="about">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p></small>
    </div>
</div>