<div class="row">
    <div class="container-fluid background-green text-center padding-x margin-top">
            <a href="#"><i class="fa fa-twitter lightgreen padding fontsize"></i></a>
            <a href="#"><i class="fa fa-facebook lightgreen padding fontsize"></i></a>
            <a href="#"><i class="fa fa-dribbble lightgreen padding fontsize"></i></a>
            <a href="#"><i class="fa fa-flickr lightgreen padding fontsize"></i></a>
            <a href="#"><i class="fa fa-github lightgreen padding fontsize"></i></a>
    </div>
</div>
    
<div class="row">
    <div class="container-fluid background-black padding-10">

            <small><a class="padding lightblack" href="/">Home</a>|</small>
            <small><a class="padding lightblack" href="#about">About</a>|</small>
            <small><a class="padding lightblack" href="#about">Gallery</a>|</small>
            <small><a class="padding lightblack" href="#project">Projects</a>|</small>
            <small><a class="padding lightblack" href="#contact">Contact</a></small>
            <small><p class="pull-right lightblack">Copyright Premium Interiors @ 2016<a class="lightblack" href="#"><i>ABC</i></a></p></small>

    </div>
</div>